@use './helpers/variable';
@use './helpers/mixins';
@import './helpers/base';
@import './module/header';
@import './module/footer';
@import './component/product';
@import './page/product-page';


.main-wrap{
    @include mixins.flexBox($justifyContent: unset,$alignItem:flex-start);
    .responsive-nav{
        height: variable.$headerHeight;
        width: variable.$headerHeight;
        background-color: variable.$backgroundColor;
        position: fixed;
        top: 0;
        right: -6px;
        text-align: right;
        z-index: 5;
        border-bottom-left-radius: 40%;
        border-top-left-radius: 40%;
        @include mixins.flexBox;
        display: none;
        i{
            font-size: 2.7rem;
            color: white
        }
        @include mixins.Responsive(SM){
            display: flex;
            width: 80px;
            height: 80px;
            border-bottom-left-radius: 50%;
            border-top-left-radius: 50%;
        }
        @include mixins.Responsive(XS){
            height: variable.$headerHeight;
            width: variable.$headerHeight;
        }
    }
    .content{
        margin-left: variable.$headerWidth;
        width: 100%;
        @include mixins.Responsive(SM){
            margin-left: 0
        }
        .home{
            position: relative;
            margin-bottom: 16px;
            img{
                width: 100%;
            }
            .btn-down{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 50px;
                border: 1px dashed variable.$borderColor;
                height: 60px;
                width: 40px;
                border-radius: 40px;
                @include mixins.flexBox;
                i{
                    font-size: 1.8rem;
                    color: white;
                }
                @include mixins.Responsive(SM){
                    bottom: 30px;
                    height: 90px;
                    width: 60px;
                    i{
                        font-size: 2.8rem;
                    }
                }
                @include mixins.Responsive(XS){
                    height: 60px;
                    width: 40px;
                    i{
                        font-size: 1.8rem;
                    }
                }
            }
        }
        .banners{
            flex-wrap: wrap;
            margin-bottom: 16px;
            .banners-wrap{
                div{
                    .banners-img{
                        cursor: pointer;
                        overflow: hidden;
                        &:hover img{
                            transform: scale(1.1);
                        }
                        img{
                            display: block;
                            width: 100%;
                            transition: all 0.3s ease;
                        }
                    }
                }
                & > div:last-child{
                    @include mixins.Responsive(SM){
                        margin-top: 20px;
                        margin-bottom: 20px
                    };
                }
            }
        }
        .section-header{
            @include mixins.flexBox($justifyContent:space-between);
            a{
                color: variable.$textColor;
                font-size: 1.3rem;
                &:hover{
                    color: variable.$hoverColor;
                }
            }
            @include mixins.Responsive(SM){
                margin-bottom: 18px;
                h2{
                    margin-top:0;
                    margin-bottom: 0;
                    font-size: 3rem;
                }
                a{
                    font-size: 2rem;
                }
            }
            @include mixins.Responsive(XS){
                a{
                    font-size: 1.4rem;
                }
                h2{
                    font-size: 2.4rem;
                }
            }
        }
        .promotion{
            background-image: url("../assets/img/salebg.webp");
            background-repeat: no-repeat;
            background-size: cover;
            padding-top:70px;
            padding-bottom:70px;
            margin-bottom: 10px;
            @include mixins.Responsive(SM){
                padding-top:20px;
                padding-bottom:20px;
                & .sale-product .product__list {
                    margin-left: -8px;
                    margin-right: -8px
                }
            }
            .sale-header{
                h2{
                    line-height: 32px;
                    margin-bottom: 12px;
                }
                p{
                    font: {
                        size: 1.4rem;
                        weight: 700
                    }
                    line-height: 1.5;
                    margin-top: 12px;
                }
                @include mixins.Responsive(SM){
                    h2{
                        font-size: 3rem;
                    }
                    p{
                        font-weight: 500;
                        margin-bottom: 10px;
                        font-size: 2.2rem;
                    }
                }
                @include mixins.Responsive(XS){
                    h2{
                        font-size: 2.4rem;
                    }
                    p{
                        font-size: 1.4rem;
                    }
                }
            }
        }
        .comment{
            background-image: url('../assets/img/commentbg.webp');
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 70px;
            padding-bottom: 70px;
            margin-top: 40px;
            margin-bottom: 20px;
            @include mixins.Responsive(SM){
                padding-top: 30px;
                padding-bottom: 30px;
                margin-top: 0;
            }
            .comment-list{
                .comment-item{
                    user-select: none;
                    @include mixins.Responsive(SM){
                        margin-top: 36px;
                    }
                    .comment-wrap{
                        background-color: white;
                        position: relative;
                        padding: 40px 10px;
                        .comment-avt{
                            position: absolute;
                            top: -25px;
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            overflow: hidden;
                            img{
                                width: 100%;
                            }
                        }
                        .comment-info{
                            margin-bottom: 10px;
                            .author-name{
                                color: variable.$mainColor;
                                font-size: 1.3rem;
                            }
                            .author-work{
                                font-size: 1.3rem;
                                font-style: italic;
                            }
                        }
                        p{
                            font-size: 1.3rem;
                            line-height: 1.5;
                            color: #666;
                        }
                        @include mixins.Responsive(SM){
                            .comment-info .author-name, .comment-info .author-work, p{
                                font-size: 1.7rem;
                            }
                        }
                        @include mixins.Responsive(XS){
                            .comment-info .author-name, .comment-info .author-work, p{
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
        .post{
            .post__item{
                @include mixins.Responsive(SM){
                    margin-top: 20px;
                }
                .post__item-wrap{
                    @include mixins.Responsive(SM){
                        padding-bottom: 20px;
                        border-bottom: 1px solid variable.$borderColor;
                    }
                    img{
                        width: 100%;
                    }
                    .post__item-info{
                        .item-title{
                            color: variable.$textColor;
                            font-size: 1.3rem;
                            h3{
                                margin-bottom: 12px;
                                margin-top: 8px;
                            }
                        }
                        .item-time{
                            font-size: 1.3rem;
                            color: variable.$textColor;
                            i{
                                opacity: 0.6;
                                margin-right: 4px;
                            }
                        }
                        p{
                            font-size: 1.3rem;
                            margin-top: 12px;
                        }
                        @include mixins.Responsive(SM){
                            .item-title h3{
                                font-size: 1.8rem;
                            }
                            .item-time, p{
                                font-size: 1.7rem;
                                line-height: 1.7;
                            }
                        }
                        @include mixins.Responsive(XS){
                            .item-title h3{
                                font-size: initial;
                            }
                            .item-time, p{
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
        .policy{
            margin-top: 42px;
            margin-bottom: 22px;
            ul{
                li{
                    text-align: center;
                    font-size: 1.5rem;
                    color: variable.$mainColor;
                    span{
                        i{
                            margin-right: 10px;
                        }
                        span{
                            color: black;
                            font-size: 1.4rem;
                        }
                    }
                    @include mixins.Responsive(SM){
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}



